<div class="row">
    <div class="col-sm-8" style="background: #aaa; margin-bottom:30px; padding:20px;">
        <h2>Teacher Edit Details</h2>
        <form action="edit" method="POST">
            <input type="text" name="tId" value="{{teacher._id}}"/>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{teacher.name}}">
            </div>
            <div class="form-group">
                <label for="empNo">Employee No:</label>
                <input type="text" class="form-control" id="empNo" name="empNo" value="{{teacher.empNo}}">
            </div>
            <div class="form-group">
                <label for="post">Post:</label>
                <input type="text" class="form-control" id="post" name="post" value="{{teacher.post}}">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{teacher.email}}">
            </div>
            <div class="form-group">
                <label for="salary">Salary:</label>
                <input type="text" class="form-control" id="salary" name="salary" value="{{teacher.salary}}" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>